@import "../../styles//variables.scss";
.container {
  width: 95%;
  height: 100%;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: auto 1fr auto;

  transition: 400ms opacity ease-in-out;

  animation: opacity 1s;
  padding: 40px 0;
  @media (max-width: 955px) {
    grid-template-rows: auto min-content 1fr min-content auto;
    padding: 60px 0;
  }

  @include navDownArrow;
  @include navDownUp;
  .tag {
    font-weight: bold;
    font-size: 4.2rem;
    color: $lightText;
    transition: 400ms opacity ease-in-out;

    animation: opacity 1s;
  }

  .first_tag {
    align-self: flex-start;
  }

  .last_tag {
    align-self: flex-end;
  }

  .pagePicker {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;

    .pageBtn {
      width: 25px;
      height: 25px;

      transition: 100ms;
      cursor: pointer;
    }

    .pageActive {
      background-color: $dark;
    }

    .pageNonActive {
      background-color: transparent;
      border: 2px solid $dark;

      &:hover {
        transition: 300ms;
        background-color: $dark;
      }
    }
  }

  .content {
    justify-self: center;
    align-self: center;
    justify-items: center;
    transition: 400ms opacity ease-in-out;

    animation: slide 1s;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;

    transition: 200ms;
    .projectCentered {
      grid-column: 2/3;
    }

    .project {
      height: auto;
      width: auto;
      transition: 300ms;
      border: 7px solid $lightText;
      -webkit-box-shadow: 2px -2px 13px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px -2px 13px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 2px -2px 13px 0px rgba(0, 0, 0, 0.75);
      &:hover {
        transition: 300ms;
        -webkit-box-shadow: 10px -10px 18px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px -10px 18px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px -10px 18px 0px rgba(0, 0, 0, 0.75);
        transform: translate(-10px, 10px);

        .img_block {
          border-radius: none;
        }
      }

      justify-self: center;
      cursor: pointer;
      .img_block {
        width: 420px;
        //height: 262px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        img {
          height: 262px;
          object-fit: fill;
        }
      }

      .info {
        width: 420px;
        height: 220px;
        background-color: $dark;
        color: $light;
        display: grid;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        h2 {
          font-size: 2.8rem;
          width: 380px;
          text-align: center;
          justify-self: center;
          font-weight: bold;
          margin-top: 10px;
        }
        .desc {
          font-size: 1.7rem;
          width: 345px;
          text-align: center;
          justify-self: center;
          font-weight: bold;
        }

        .tech {
          font-size: 1.7rem;
          width: 345px;
          text-align: center;
          justify-self: center;
          font-weight: bold;
          letter-spacing: 5px;
        }
      }
    }
  }

  @media (max-width: 1815px) {
    .content {
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;
      margin-top: 30px;
      margin-bottom: 20px;

      .projectCentered {
        grid-column: 1/3;
      }
    }
  }
  @media (max-width: 1360px) {
    .content {
      grid-template-columns: 1fr;
      row-gap: 30px;
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 1020px) {
    .tag {
      font-size: 3.2rem;
    }
  }
  @media (max-width: 600px) {
    .tag {
      font-size: 3.2rem;
    }
    .content {
      padding: 15px 15px;
      .project {
        width: 100%;
        box-sizing: content-box;
        border: 3px solid $lightText;
        .img_block {
          width: 100%;
        }

        .info {
          width: 100%;

          h2 {
            width: 90%;
            font-size: 2.4rem;
          }

          .desc {
            width: 95%;
          }

          .tech {
            width: 95%;
          }
        }
      }
    }
  }

  @media (max-width: 400px) {
    .content {
      padding: 15px 15px;
      .project {
        width: 100%;

        box-sizing: content-box;
        .img_block {
          width: 100%;
        }

        .info {
          width: 100%;

          h2 {
            width: 90%;
            font-size: 2.2rem;
          }

          .desc {
            width: 95%;
            font-size: 1.4rem;
          }

          .tech {
            width: 95%;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translatex(-2%);
  }
  50% {
    transform: translatex(5%);
  }
  100% {
    transform: translatex(0%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
