@import "../../styles//variables.scss";

.container {
  width: 95%;
  height: 100%;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: auto 1fr auto;

  transition: 400ms opacity ease-in-out;

  animation: opacity 1s;
  padding: 40px 0;
  @media (max-width: 955px) {
    grid-template-rows: auto 1fr min-content auto;
    padding: 60px 0;
  }

  .tag {
    font-weight: bold;
    font-size: 4.2rem;
    color: $lightText;
    transition: 400ms opacity ease-in-out;

    animation: opacity 1s;
  }

  .first_tag {
    align-self: flex-start;
  }

  .last_tag {
    align-self: flex-end;
  }

  @include navDownArrow;

  // .nav {
  //   display: grid;
  //   justify-self: center;
  //   cursor: pointer;

  //   &:hover {
  //     p {
  //       opacity: 100%;
  //     }

  //     .arrow {
  //       svg {
  //         opacity: 100%;
  //       }
  //     }
  //   }

  //   p {
  //     font-size: 2.4rem;
  //     color: $dark;
  //     text-align: center;
  //     opacity: 80%;
  //   }

  //   .arrow {
  //     width: 30px;
  //     height: 30px;
  //     display: grid;
  //     justify-self: center;

  //     svg {
  //       width: 30px;
  //       height: 30px;
  //       opacity: 80%;
  //       fill: $dark;
  //       position: relative;
  //       top: -8px;
  //     }
  //   }
  // }

  .content {
    width: 100%;
    color: $dark;
    padding-left: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: 400ms opacity ease-in-out;

    animation: slide 1s;
    .info {
      height: 100%;
      display: grid;
      align-self: center;
      align-items: center;
      h1 {
        font-size: 5rem;
      }

      p {
        font-size: 2.9rem;
        font-weight: bold;
      }

      .btns {
        display: grid;
        width: 550px;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        text-align: center;
        line-height: 60px;
        .btn {
          width: 260px;
          height: 70px;

          border: none;
          font-size: 3.2rem;
          font-weight: bold;
          cursor: pointer;
          transition: 300ms;
          border-radius: 3px;
        }

        .contact_btn {
          color: $light;
          background-color: $dark;
          border: 5px solid transparent;
          &:hover {
            transition: 300ms;
            background-color: transparent;
            border: 5px solid $dark;
            color: $dark;
            transform: translateX(-20px);

            -webkit-box-shadow: 5px 0px 20px 0px rgba(8, 76, 97, 1);
            -moz-box-shadow: 5px 0px 20px 0px rgba(8, 76, 97, 1);
            box-shadow: 5px 0px 20px 0px rgba(8, 76, 97, 1);
          }
        }

        .cv_btn {
          color: $dark;
          background-color: transparent;
          border: 5px solid $dark;
          &:hover {
            transition: 300ms;
            background-color: $dark;
            border: 5px solid transparent;
            color: $light;
            transform: translateX(20px);

            -webkit-box-shadow: -5px 0px 20px 0px rgba(8, 76, 97, 1);
            -moz-box-shadow: -5px 0px 20px 0px rgba(8, 76, 97, 1);
            box-shadow: -5px 0px 20px 0px rgba(8, 76, 97, 1);
          }
        }
      }
    }

    .myPhoto_section {
      row-gap: 35px;
      display: grid;
      width: 100%;
      align-content: center;
      .myPhoto {
        justify-self: center;
        width: 560px;
        height: 560px;
        background-image: url(".././../img//for portfolio.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -80px;
        shape-outside: circle();
        clip-path: circle();
      }

      .socials {
        display: grid;
        width: 420px;
        justify-self: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .social_item {
          justify-self: center;
          svg {
            cursor: pointer;
            transition: 300ms;
            width: 50px;
            fill: $dark;
          }
        }

        .telegram {
          svg {
            &:hover {
              transition: 300ms;
              fill: #26a5e4;
            }
          }
        }

        .linkedIn {
          svg {
            &:hover {
              transition: 300ms;
              fill: #0a66c2;
            }
          }
        }

        .insta {
          svg {
            &:hover {
              transition: 300ms;
              fill: #e4405f;
            }
          }
        }

        .git {
          svg {
            &:hover {
              transition: 300ms;
              fill: #181717;
            }
          }
        }
      }

      .mail_block {
        justify-self: center;

        .mail {
          padding: 0px 5px 2px 5px;
          font-size: 2.6rem;
          font-weight: bold;
          justify-self: center;
          color: $dark;
          cursor: pointer;
          display: inline-block;
          box-sizing: content-box;
          line-height: auto;
          text-decoration: underline;

          &:hover {
            background-color: $dark;
            color: $light;
          }
        }
      }
    }
  }

  @media (max-width: 1500px) {
    .content {
      grid-template-columns: 1fr;
      row-gap: 40px;
      .myPhoto_section {
        justify-self: center;

        .myPhoto {
        }

        .mail_block {
          margin-bottom: 40px;
        }
      }

      .info {
        justify-self: center;
        height: none;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        margin-top: 40px;
        h1 {
          grid-column: 1/3;
          font-size: 3.5rem;

          .secondBr {
            display: none;
          }
        }

        p {
          grid-column: 3/4;
          grid-row: 1/2;
          font-size: 2.2rem;
        }

        .btns {
          grid-column: 3/4;
          grid-row: 2/3;
          .btn {
            font-size: 2.8rem;
            width: 240px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            box-sizing: content-box;
          }
        }
      }
    }
  }

  @media (max-width: 1380px) {
    .content {
      padding-left: 0;
      .myPhoto_section {
        .myPhoto {
        }

        .mail_block {
        }
      }

      .info {
        row-gap: 15px;
        h1 {
          grid-column: 1/4;
          grid-row: 1/2;
          font-size: 3.2rem;
          text-align: center;
          width: 460px;
          justify-self: center;
          .secondBr {
          }
        }

        p {
          grid-column: 1/4;
          grid-row: 2/3;
          justify-self: center;
          font-size: 2rem;
        }

        .btns {
          grid-column: 1/4;
          grid-row: 3/4;
          justify-self: center;
          .btn {
            width: 200px;
            font-size: 2.4rem;
            justify-self: center;
          }
        }
      }
    }
  }

  @media (max-width: 660px) {
    .tag {
      font-size: 3.2rem;
    }
    .content {
      padding-left: 0;
      .myPhoto_section {
        width: 100%;
        .myPhoto {
          width: 400px;
          background-position-y: 40px;
        }

        .mail_block {
        }
      }

      .info {
        row-gap: 15px;
        width: 100%;
        h1 {
          grid-column: 1/4;
          grid-row: 1/2;
          font-size: 2.6rem;
          text-align: center;
          width: 90%;
          justify-self: center;
          .secondBr {
          }
        }

        p {
          font-size: 2rem;
        }

        .btns {
          width: 100%;
          grid-column: 1/4;
          grid-row: 3/4;
          justify-self: center;
          grid-template-columns: 1fr;
          row-gap: 20px;
          .btn {
            width: 180px;
            font-size: 2rem;
            justify-self: center;
            box-sizing: border-box;
            text-align: center;
            line-height: 55px;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .content {
      .myPhoto_section {
        .myPhoto {
          width: 300px;
          // background-position-y: 80px;
          background-position-x: -50px;
          background-size: 120%;
        }

        .mail_block {
        }

        .socials {
          width: 100%;
        }
      }

      .info {
        h1 {
          .secondBr {
          }
        }

        p {
        }

        .btns {
          .btn {
          }
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translatex(-2%);
  }
  50% {
    transform: translatex(5%);
  }
  100% {
    transform: translatex(0%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
