$dark: #084c61;
$light: #ae7e45;
$lightText: #c7ccdb;

@mixin skill {
  @media (min-width: 750px) {
    animation: shake 1s infinite;
    position: relative;
    cursor: pointer;
    span {
      display: none;
      color: $dark;
      position: absolute;
    }

    &:hover {
      span {
        transition: 300ms;
        position: absolute;
        display: inline-block;
        animation: skillPop 0.3s;
        transform: translatex(100px);
      }
    }
  }
}

@mixin skill-down {
}

@mixin skill-reverse {
  @media (min-width: 750px) {
    animation: shake 1s infinite;
    position: relative;
    cursor: pointer;
    span {
      display: none;
      color: $dark;
      position: absolute;
    }

    &:hover {
      span {
        transition: 300ms;
        position: absolute;
        display: inline-block;
        animation: skillPop-reverse 0.3s;
        transform: translatex(-360px);
      }
    }
  }
}

@keyframes skillPop {
  0% {
    transform: translatex(0px);
  }

  100% {
    transform: translatex(100px);
  }
}

@keyframes skillPop-down {
  0% {
    top: 0px;
    left: 0px;
  }

  100% {
    top: 100px;
  }
}
@keyframes skillPop-reverse {
  0% {
    transform: translatex(-300px);
  }

  100% {
    transform: translatex(-360px);
  }
}

@keyframes shake {
  0% {
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  50% {
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

  100% {
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}
