@import "../../styles//variables.scss";
.container {
  width: 95%;
  height: 95%;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: auto 1fr auto;

  transition: 400ms opacity ease-in-out;

  animation: opacity 1s;

  @media (max-width: 955px) {
    grid-template-rows: auto min-content 1fr min-content auto;
  }

  @include navDownArrow;
  @include navDownUp;

  .tag {
    font-weight: bold;
    font-size: 4.2rem;
    color: $lightText;
    transition: 400ms opacity ease-in-out;

    animation: opacity 1s;
  }

  .first_tag {
    align-self: flex-start;
  }

  .last_tag {
    align-self: flex-end;
  }

  .content {
    justify-self: center;
    align-self: center;
    transition: 400ms opacity ease-in-out;

    padding: 15px 0;
    animation: slide 1s;
    width: 1320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

    .left {
      justify-self: flex-end;
    }
    .collumn {
      width: 600px;
      display: grid;
      grid-template-columns: repeat(5, 100px);
      grid-template-rows: repeat(5, 60px);
      row-gap: 35px;
      .skill {
        width: 200px;
        height: 60px;
        background-color: $dark;
        font-weight: bold;
        color: $light;
        font-size: 2.8rem;
        text-align: center;
        line-height: 60px;
        border-radius: 3px;
        border: 6px solid $lightText;
        box-sizing: content-box;
      }

      .skill_react {
        grid-row: 1/2;
        grid-column: 1/3;
        @include skill;
      }
      .skill_redux {
        grid-row: 2/3;
        grid-column: 2/4;
        @include skill;
      }
      .skill_git {
        grid-row: 3/4;
        grid-column: 3/5;
      }
      .skill_node {
        grid-row: 4/5;
        grid-column: 4/6;
      }
      .skill_express {
        grid-row: 5/6;
        grid-column: 5/7;

        @include skill;
      }

      .skill_mongo {
        grid-row: 2/3;
        grid-column: 2/4;
        @include skill;
      }
      .skill_mysql {
        grid-row: 3/4;
        grid-column: 3/5;
        @include skill;
      }
      .skill_css {
        grid-row: 4/5;
        grid-column: 4/6;
        z-index: 100;
        @include skill;
      }
      .skill_socket {
        grid-row: 1/2;
        grid-column: 1/3;
      }
      .skill_js {
        grid-row: 5/6;
        grid-column: 5/7;
      }
    }
  }

  @media (max-width: 1660px) {
    .content {
      grid-template-columns: 1fr;
      margin-top: 30px;
      margin-bottom: 20px;
      width: 100%;
      .left {
        justify-self: center;
      }
      .right {
        justify-self: center;
      }
    }
  }

  @media (max-width: 1150px) {
    .content {
      grid-template-columns: 1fr;
      margin-top: 30px;
      margin-bottom: 20px;
      width: 100%;
      row-gap: 15px;
      .left {
        justify-self: center;
      }
      .right {
        justify-self: center;
      }

      .collumn {
        .skill_css {
          grid-row: 4/5;
          grid-column: 4/6;

          @include skill-reverse;
        }

        .skill_express {
          grid-row: 5/6;
          grid-column: 5/7;

          @include skill-reverse;
        }
      }
    }
  }

  @media (max-width: 750px) {
    .tag {
      font-size: 3.2rem;
    }
    .content {
      grid-template-columns: 1fr;
      margin-top: 30px;
      margin-bottom: 20px;
      width: 100%;
      row-gap: 15px;
      .left {
        justify-self: center;
      }
      .right {
        justify-self: center;
      }

      row-gap: 30px;
      .collumn {
        width: 100%;
        grid-template-columns: 1fr;

        .skill {
          justify-self: center;
          font-size: 2.4rem;
          span {
            display: none;
          }
        }
        .skill_react {
          grid-row: 1/2;
          grid-column: 1/3;
        }
        .skill_redux {
          grid-row: 2/3;
          grid-column: 1/3;
        }
        .skill_git {
          grid-row: 3/4;
          grid-column: 1/3;
        }
        .skill_node {
          grid-row: 4/5;
          grid-column: 1/3;
        }
        .skill_express {
          grid-row: 5/6;
          grid-column: 1/3;
        }

        .skill_mongo {
          grid-row: 2/3;
          grid-column: 1/3;
        }
        .skill_mysql {
          grid-row: 3/4;
          grid-column: 1/3;
        }
        .skill_css {
          grid-row: 4/5;
          grid-column: 1/3;
          z-index: 100;
        }
        .skill_socket {
          grid-row: 1/2;
          grid-column: 1/3;
        }
        .skill_js {
          grid-row: 5/6;
          grid-column: 1/3;
        }

        // .skill_css {
        //   grid-row: 4/5;
        //   grid-column: 1/3;

        //   @include skill-reverse;
        // }

        // .skill_express {
        //   grid-row: 5/6;
        //   grid-column: 1/3;

        //   @include skill-reverse;
        // }
      }
    }
  }
}

@keyframes slide {
  0% {
    transform: translatex(-2%);
  }
  50% {
    transform: translatex(5%);
  }
  100% {
    transform: translatex(0%);
  }
}

@keyframes opacity {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
