@import "../../styles//variables.scss";

.container {
  background-color: $light;
  height: 100vh;
  width: 100%;
  grid-column: 2/3;
  display: grid;
  overflow: hidden;
  p {
    font-size: 8rem;
  }
}
