@import "../../styles//variables.scss";

.container {
  background-color: $light;

  width: 100%;
  grid-column: 2/3;
  display: grid;
  overflow-y: visible;
  // overflow-x: hidden;
  p {
    font-size: 8rem;
  }

  @media (max-width: 955px) {
    grid-column: 1/2;
  }
}
