@import "../../styles//variables.scss";

.container {
  background-color: $light;
  height: 100%;
  width: 100%;
  grid-column: 2/3;
  display: grid;
  outline: 1px solid red;
  overflow: scroll;
  overflow-x: hidden;
  p {
    font-size: 8rem;
  }

  @media (max-width: 955px) {
    grid-column: 1/2;
  }
}
