@import "../../styles//variables.scss";

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  scroll-behavior: smooth;
  overflow-y: auto;
  top: 0;
  left: 0;
  background-color: hsla(33, 43%, 48%, 0.65);
  display: grid;
  padding: 40px 0;
  .content {
    border-radius: 10px;
    width: 1360px;
    height: 900px;
    background-color: $dark;
    justify-self: center;
    align-self: center;
    display: grid;
    border: 7px solid $lightText;

    .img_blocks {
      width: 1300px;
      column-gap: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-self: center;
      margin-top: 50px;
      .img {
        width: 420px;
        img {
        }
      }

      .left_arrow {
        display: none;
        visibility: 0;

        svg {
          width: 40px;
          height: 40px;
          fill: $light;
          cursor: pointer;
        }
      }

      .right_arrow {
        display: none;
        visibility: 0;
        svg {
          width: 40px;
          height: 40px;
          fill: $light;
          cursor: pointer;
        }
      }
    }

    .info {
      color: $light;
      font-weight: bold;
      display: grid;
      width: 1260px;
      justify-self: center;
      h1 {
        font-size: 3.2rem;
        justify-self: center;
      }

      p {
        font-size: 1.8rem;
        justify-self: start;

        span {
          background-color: $light;
          color: $dark;
          padding: 0 3px;
        }
      }
    }

    .btns {
      display: grid;
      width: 1260px;
      grid-template-columns: 1fr 1fr 1fr;
      justify-self: center;
      align-self: center;

      .btn {
        border-radius: 3px;
        font-size: 3rem;
        color: $dark;
        background-color: $light;
        border: none;
        width: 200px;
        height: 60px;
        text-align: center;
        line-height: 62px;
        font-weight: bold;
        cursor: pointer;
        transition: 300ms;
      }

      .btn_close {
        justify-self: center;
        line-height: 55px;
        border: 5px solid transparent;
        &:hover {
          transition: 300ms;
          background-color: transparent;
          border: 5px solid $light;
          color: $light;
          transform: translateX(-20px);

          -webkit-box-shadow: -5px 0px 20px 0px rgba(8, 76, 97, 1);
          -moz-box-shadow: -5px 0px 20px 0px rgba(8, 76, 97, 1);
          box-shadow: -5px 0px 20px 0px rgba(8, 76, 97, 1);
        }
      }

      .git {
        justify-self: center;
        cursor: pointer;

        svg {
          width: 70px;
          height: 70px;
          fill: $light;
          transition: 300ms;
        }

        svg {
          &:hover {
            transition: 300ms;
            fill: #181717;
          }
        }
      }

      .btn_link {
        justify-self: center;
        border: 5px solid transparent;
        line-height: 55px;
        text-align: center;
        &:hover {
          transition: 300ms;
          background-color: transparent;
          border: 5px solid $light;
          color: $light;
          transform: translateX(20px);

          -webkit-box-shadow: -5px 0px 20px 0px rgba(8, 76, 97, 1);
          -moz-box-shadow: -5px 0px 20px 0px rgba(8, 76, 97, 1);
          box-shadow: -5px 0px 20px 0px rgba(8, 76, 97, 1);
        }
      }
    }
  }

  @media (max-width: 1520px) {
    .content {
      width: 100%;
      border: none;
      border-radius: 0;
      padding-bottom: 40px;
      .img_blocks {
        width: 700px;
        grid-template-columns: 60px 1fr 60px;

        .img {
          width: 540px;
          display: none;
          visibility: 0;
        }

        .show {
          display: block;
          grid-column: 2/3;
          justify-self: center;
          align-self: center;
          animation: slide 0.6s;
          transition: 600ms slide ease-in-out;
        }
        .left_arrow {
          display: block;
          width: 40px;
          height: 40px;
          align-self: center;
          justify-self: center;
        }
        .right_arrow {
          display: block;
          width: 40px;
          height: 40px;
          align-self: center;
          justify-self: center;
        }
      }

      .info {
        width: 80%;
      }

      .btns {
        width: 80%;
      }
    }
  }

  @media (max-width: 730px) {
    .content {
      height: 100%;
      .img_blocks {
        width: 80%;

        .img {
          width: 100%;
        }

        .show {
        }
        .left_arrow {
        }
        .right_arrow {
        }
      }

      .info {
        width: 80%;
        h1 {
          font-size: 3.2rem;
          margin: 20px 0;
        }

        p {
          font-size: 1.6rem;

          span {
          }
        }
      }

      .btns {
        margin-top: 40px;
        width: 80%;
        grid-template-columns: 1fr;
        row-gap: 25px;

        .btn {
          font-size: 2.6rem;
        }
        .btn_close {
          grid-row: 3/4;
        }

        .git {
          grid-row: 1/2;
        }
      }
    }
  }

  @media (max-width: 560px) {
    .content {
      .img_blocks {
        width: 95%;
        grid-template-columns: 25px 1fr 25px;
        .img {
        }

        .show {
        }
        .left_arrow {
          width: 25px;
          height: 25px;
          svg {
            width: 25px;
            height: 25px;
          }
        }
        .right_arrow {
          width: 25px;
          height: 25px;
          svg {
            width: 25px;
            height: 25px;
          }
        }
      }

      .info {
        h1 {
          text-align: center;
          font-size: 2.6rem;
        }

        p {
          font-size: 1.4rem;
          span {
          }
        }
      }

      .btns {
        .btn {
          font-size: 2.2rem;
          width: 180px;
        }
        .btn_close {
        }

        .git {
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    opacity: 0%;
    filter: blur(2px);
  }

  100% {
    opacity: 100%;
  }
}
